*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.header{
    position: absolute;
    top: 0;
}
.sec-comp,.first-comp{
    width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(170, 170, 170);
}
.sec-comp{
    margin-top: 100px;
}
.header + div, .banner, .info-body{
    margin-top: 100px;
}
.header-link{
    width: 100%;
}
.navbar.active{
    display: none;
}
.comp3-header, .comp2-header{
    padding: 10px;
    border: 2px solid black;
    max-width: 400px;
    margin: 20px auto 0;
    text-align: center;
}