*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.header{
    position: absolute;
    top: 0;
}
.sec-comp,.first-comp{
    width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(170, 170, 170);
}
.sec-comp,.header + div,
 .banner, .info-body, .comp2{
    margin-top: 100px;
}
.comp2-comments{
    margin-top: 40px;
}
textarea{
    border: 1px solid black;
    max-width: 200px;
    max-height: 100px;
}
.header-link{
    width: 100%;
}
.navbar.active{
    display: none;
}
.comp3-header, .comp2-header{
    padding: 10px;
    border: 2px solid black;
    max-width: 400px;
    margin: 20px auto 0;
    text-align: center;
}
.banner-header{
    margin-bottom: 20px;
    font-weight: bold;
}
.banner-content{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.container{
    height: 100%;
}
.list-item{
    margin-right: 10px;
}
.info{
    text-align: center;
    padding-top: 150px;
}
input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}
li{
    text-align: left;
}
.comp-box{
    display: flex;
    justify-content: space-between;
}