*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.header{
    position: absolute;
    top: 0;
    flex: 1 1;
}
.sec-comp,.first-comp{
    width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(170, 170, 170);
}
.sec-comp{
    margin-top: 100px;
}
.header + div,p{
    margin-top: 100px;
}